@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --silver-light: #f2f3f7
}

body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color:var(--silver-light) ;
}